@charset "UTF-8";

$theme-colors: (
        "blue": #3F83BF
);

@import "~bootstrap";

.container {
  border: 1px solid #70A8D8;
}

h4 {
  color: #3F83BF;
}

.fa-rotate-45 {
  -ms-filter:        "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(45deg);
  transform:         rotate(45deg);
}
